body{
    background-color: gray;
}

h3{
    color: green;
}

.blueh3{
    color: blue;
}

.redh3{
    color: red;
}

.img-thumbnail {
    width: 200px;     /* ajusta el tamaño */
    height: auto;     /* mantiene la proporción */
}

