body{
background: #bdc3c7;  
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
background: linear-gradient(to right, #2c3e50, #bdc3c7); 

text-align: center;
}

#rojo{
  color: red;
}
#verde {
  color: green;
}


.azul {
  color: blue;
}


h3{
    color: green;
}

.img-thumbnail {
    width: 200px;    
    height: auto;     
}

.equipo {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}